// Break Point
$tablet: 768px;

// Mixins
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
 
@mixin laptop {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

.nav_box {
  position: relative;
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
    width: 80%;
    height: 50px;
    font-size: 14px;
  
    .nav_home {
      display: flex;
      align-items: center;
      .wanted{
        @include laptop {
          display: none;
        }
        font-size: 23px;
        font-weight: bold;
      }

      .home {
        @include tablet {
          display: none;
        }
        margin-right: 30px;
      }
    }
  
    .nav_menu {
      .menu_list {
        display: flex;
        .menu_name {
          padding: 17px 10px;
        }
        // Sub Navigatiom ⭐️
        .search_jobs {
          .sub_nav {
          display: none;
          position: absolute;
          top: 50px;
          left: 0;
          padding-top: 30px;
          width: 100%;
          height: auto;
          background-color: white;

          .sub_div {
            display: flex;  
            justify-content: space-between;
            margin: auto;
            padding-bottom: 30px;
            width: 80%;

            .position {
              width: 150px;
              color: #999;

              .position_title {
                // display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 10px;
                h2 {
                  font-size: 16px;
                  color: #333;
                }
                .title_box {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
              }
              .position_list {
                li {
                  margin: 6px 0;
                }
              }

              .show_more {
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .fa-chevron-right {
                  font-size: 9px;
                }
              }
            }
          }
          .sub_div_align {
            flex-direction: column;
          }
          }
        }
        
        .search_jobs:hover {
          .sub_nav {
            display: block;
            position: absolute;
            height: auto;
        }
        } 
      }
    }
  
    .nav_icon {
      display: flex;
      align-items: center;
      i {
        font-size: 19px;
      }
      
      .fa-search, .fa-bell {
        margin-right: 20px;
      }
  
      .user_profile {
        padding: 1px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid gray;
      }
  
      .fa-bars {
        display: none;
      }
    }
  
    .nav_company {
      display: flex;
      align-items: center;
      color: gray;
      .fa-grip-lines-vertical {     
        margin-right: 20px;
      }
      .service {
        border: 1px solid gray;
        padding: 3px 10px 2px 10px;
        border-radius: 10px;
        text-align: center;
      }
    }
  } 
}

@include tablet {
  .toggle_menu {
    display: none;
  }
}
@include laptop {
  .nav_box {
    position: relative;
    .big_screen_only {
      margin: 0;
      padding: 0;
      display: none;
    }
    .home {
      position: absolute;
      left: 20px;
    }
    .nav_menu {
      position: absolute;
      left: 50px;

      .search_jobs {
        .sub_nav {
          display: none;
          .sub_div {
            display: none;
          }
        }
      }
      .search_jobs:hover {
        .position {
          display: none;
        }
      }
    }
    .nav {
      .nav_icon {
        position: absolute;
        right: 20px;
        .user_profile {
          display: none;
        }
        .toggle_menu_btn {
          .fa-bars {
            display: block;
          }
        }
      }
    }
  }

  .toggle_menu {
    font-size: 20px;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;

    .toggle_menu_box {
      display: flex;
      justify-content: space-between;
      padding: 24px;

      .logo {
        width: 50px;
        height: 20px;
      }

      .fa-times {
        color: gray;
      }
    }

    .toggle_menu_list {
      padding: 0 24px;
      .simple_list {
        padding: 13px 0;
      }

      .add_border_top {
        border-top: 1px solid lightgray;
        margin-top: 10px;
        padding-top: 23px;
      }
      .my_info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile {
          border: 1px solid white;
          width: 38px;
          border-radius: 50%;
        }
      }
    }
  }
}
